/*
 * @Copyright
 * @package     AIB - Author Info Box
 * @author      Viktor Vogel {@link http://www.kubik-rubik.de}
 * @version     2.5-2
 * @date        Created on 04-Jun-2012
 * @link        Project Site {@link http://joomla-extensions.kubik-rubik.de/aib-author-info-box}
*/

#author_infobox{background-color: #FFFFD6; color: #000000; border: 1px solid grey; border-radius: 5px 5px 5px 5px; margin: 5px; padding: 10px; overflow: hidden;}
#author_infobox .author_infobox_title{font-size: 120%; font-weight: bold; margin-bottom: 10px;}
#author_infobox .author_infobox_image{float: left; margin: 5px 10px 5px 5px;}
#author_infobox .author_infobox_image img{width: 80px; height: 80px;}
#author_infobox .author_infobox_name{margin-bottom: 10px;}
#author_infobox .author_infobox_aboutme{font-size: 110%; font-weight: bold;}
#author_infobox .author_infobox_description{width: 100%;}
#author_infobox span.bold{font-weight: bold;}
#author_infobox span.marginleft{margin-left: 10px;}